# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env

# =========================
# Oracle Instant Client
# (NUNCA versionar isso)
# =========================
instantclient*/
oracle/
oci.dll
oraociei*.dll
ociw32.dll
libclntsh.so*
libocci.so*

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Runtime / temp
# =========================
.tmp/
.tmp*
temp/
.cache/

# =========================
# OS
# =========================
# Windows
Thumbs.db
Desktop.ini

# Linux
*.swp
*~
.nfs*

# macOS
.DS_Store

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# Build / dist (se futuramente tiver)
# =========================
dist/
build/
